*{
    box-sizing: border-box;
    background-color: rgb(243, 243, 234);
    font-family: cursive;
}

img{
    width: 300px;
    border:  rgb(27, 146, 175) 10px  solid;
    border-top-right-radius:20% ;
    border-bottom-left-radius:30% ;
    box-shadow: cadetblue 10 px 10px 10px;
}

h2  , h1 , p{
    color: rgb(27, 146, 175);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 100px;
    margin-top:100px ;
    row-gap: 50px;
}
.single_drink_container {
    display: grid;
    
}
#btn ,  #input{
    color : white;
}

.header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-left: 50px;
    height: auto;
    width: 150px;
    border: rgb(27, 146, 175) 3px solid;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 1.2s;
}
.btn:hover{
    color: white;
    background-color: cadetblue;
  
}
