*{
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: rgb(243, 243, 234);
}

img{
    width: 200px;
    border:  rgb(27, 146, 175) 5px  solid;
    }

h2  , h1 , p{
    color: rgb(27, 146, 175);
}

.container{
    padding-left: 50px;
    background-color:black;
    width: 800px;
    position:absolute;
    top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 300px;
    margin-top:100px ;
    row-gap: 30px;
}
.single_drink_container {
    display: grid;
    background: transparent;
    
}
#btn ,  #input{
    color : white;
}

.header{
    display: flex;
    width: 100%;
    
    margin-left: 250px;
    margin-top: 80px;
}
.btn{
    margin-left: 50px;
    height: auto;
    width: 150px;
    border: rgb(27, 146, 175) 3px solid;
    transition: 1.2s;
}
.btn:hover{
    color: white;
    background-color: cadetblue;
    
}
