*{
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(243, 243, 234);
}

img{
    width: 300px;
    border:  rgb(27, 146, 175) 5px  solid;
    }

h2  , h1 , p{
    color: rgb(27, 146, 175);
}

.container{
    padding-left: 50px;
    background-color:black;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top:100px ;
    row-gap: 30px;
    border: rgb(27, 146, 175) 3px solid;

}
.single_drink_container {
    display: grid;
    background: transparent;
    
}
#btn ,  #input{
    color : white;
}

.header{
    display: flex;
    width: 90%;
    top: 100px;
    position:relative;
    margin-right: 100px;

}
.header>.btn{
    width: 350px;
}
.btn{
    margin-left: 50px;
    height: auto;
    width: 150px;
    border: rgb(27, 146, 175) 3px solid;
    transition: 1.2s;
}
.btn:hover{
    color: white;
    background-color: cadetblue;
    
}
.sticky_container{
    position: sticky;
    top:0px;
    z-index: 2;
    background-color: rgb(243, 243, 234);
    height: 120px;
}
.container_for_menu{
    display: flex;
    justify-content: space-between  
    
}
ul{
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin-right: 100px;
}
li{
    font-size: 1.4rem;
}
li:hover{
    font-weight: bold;
    color:cadetblue
    
}
.cafe_title{
    text-transform: capitalize;
    font-size: 3.5rem;
}
.meet{
    color: rgb(42, 42, 66)
}
.key{
    color: pink;
    text-shadow: 1px 1px 2px red, 0 0 1em  green, 0 0 0.2em  green;
}

.orders{ 
    margin-top: 50px;
    height: 50px;

}
.orders:hover{
    background: cadetblue;
    color: white;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url('./images/item-1.jpeg');
    background-size: 100%;
    border: rgb(27, 146, 175) 3px solid;
    opacity: 0;
    transition: 1.2s;
}

.block_in_hero{
width: 70%;
height:0px;
background: rgb(4, 20, 20);
opacity: 0.6;
position: absolute;
top: 260px;
left: 200px;
transition: 2s;

}
.slogan_in_hero{
    position: absolute;
    top: 400px;
    left : 550px ;
    text-transform: capitalize;
    opacity: 0;
    transition: 2s;
    
    

}
.slogan{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
}
.offer{
    color: white;
    font-size: 1.5rem;
}
.offer_btn{
color: black;
background: white;
}

.about{
    background-image: url('./images/item-5.jpeg');
    background-size: 100%;
    height: 100vh;
    position: relative;
    width: 100%;
    margin-bottom: 200px;
}

.about>img{
    width: 600px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 700px;
    opacity: 1;
    transition: 2.5s;
    border: solid 1px black;
}
  .about_cover{
      top: 950px;
      position: absolute;
      width: 70%;
      height: 70vh;
      background: black;
      opacity: 0.5;
      left: 150px;
  }
.cup{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 100px;
    background:   pink;
    border: solid 5px cadetblue;
    border-bottom-left-radius:60% ;
    border-bottom-right-radius:60% ;
    z-index:1;
}
.stick{
    width: 15px;
    height: 40px;
    background: pink;
    border:solid 5px cadetblue ;
    position: relative;
    top: 195px;
    left: 242px;
    z-index: 1;
}
.bottom_of_cup{
    width: 80px;
    height: 15px;
    background: pink;
    border:solid 5px cadetblue ;
    position: relative;
    top: 195px;
    left: 210px;
    z-index: 1;
}
.wine{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 0px;
    background:  white;
    border: solid 5px cadetblue;
    border-bottom-left-radius:60% ;
    border-bottom-right-radius:60% ;
    transition: 1.5s;
    z-index: 1;;
}
.about_us{
    color: white;
    width: 250px;
    position: absolute ;
    top: 150px;
    left: 400px;
    z-index:1;
    font-size: 1.4rem;
}
.big_menu{
    margin-top: -200px;
    font-size: 3rem;
    padding-left: 40%;
    height: 50px;
    text-transform: uppercase;
}
.u{ 
    color: rgb(247, 166, 179);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.gallery_of_photos{
    display: grid;
    grid-template-columns:repeat(3 ,   1fr) ;
}
.gallery_of_photos>img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin : 20px;
    
   
}

.gallery_greeting{
    margin-top: 70px;
    width: 500px;
    height: 150px;
    margin-left: 35%;
    background-color: black;
    transition: 1s ease;
    transform: skewX(10deg);
    border :    black  5px solid
}
.gallery_greeting>h1{
     text-transform: uppercase;
     letter-spacing: 5px;
     margin-left: 35%;
     transition: 1s ease;
     padding-top: 50px;
     text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
     font-size: 2rem;
}

.description{
    width: 600px;
    height: 600px;
    display: grid;
    opacity: 1;
    transition: ease 1.2s;
    z-index: 2;
    
}
.description>img{
    width: 500px;
    border-radius:10% ;
    margin-left: 50px;
    z-index: 1;
    border: white 2px  solid;
}
.description>h1{
    margin-left: 100px;
    z-index: 1;
    color: white;
}
.description>p{
    margin-left:150px;
    width: 300px;
    z-index: 1;
    color: white;
}
.desc_background{
    background: black;
    width: 600px;
    height: 600px;
    opacity: 0.5;
    position: absolute;
    top: 150;
}

#closeDesc{
    width: 50px;
    margin-top: 100px;
    margin-right : 150px;
    z-index: 1;
    background: transparent;
    color: white;
    border: white 2px solid;
    position: relative;
    top: 50px;
    z-index: 4;
    

}
.description_container{
    position: absolute;

    left: -900px;
  
    width: 800px;
    height: 600px;
    margin-left: 300px;


}

.chef_title{
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 100px;
}
.pink_letter{
    color: rgb(43, 8, 14);
    text-shadow: 1px 1px 2px red, 0 0 1em  green, 0 0 0.2em  green;
}
.chef_title>h1{
    margin-left: 150px;
    margin-top: 30px;
    font-size: 4rem;
    letter-spacing: 5px;
    border: cadetblue 5px solid;
    transform: skew(10deg);
    background: rgb(236, 207, 211);
    padding: 20px;
}
.chef_title>img{
    width: 150px;
    border:  none;
    margin-left: 150px;
    border-radius: 50%;
    box-shadow: 12px 12px 2px 1px black;

}
.plate{
    border-radius: 50%;
}
.single_chef{
    margin-left: 100px;
    transition: 1s;
    background: transparent;
 
    
}
.single_chef>img{
    border-radius: 50%;
    width: 300px;
    object-fit: cover;
    height: 300px;
    position: relative;
}
.our_chefs{
    display: flex;
    margin-left: 150px;
    margin-top: 100px;

}
.single_chef>p{
    position: relative;
    bottom: 45%;
    left: 25%;
    color: black;
    font-weight: bold;
    z-index: 1;
    transition: 1.2s;
    opacity: 0;
}
.chef_back{
    width: 0px;
    height: 50px;
    background: pink;
    opacity: 0.7;
    position: relative;
    bottom: 130px;
    left: 50px;
    transition: 0.8s;
}

.single_chef:hover >p{
    opacity: 1;
}
.single_chef:hover>.chef_back{
   width: 200px;
}
.single_chef:hover{
    background:pink;
   
  
}
